.main{
    grid-area: main;
    background-color: $backgroundmain;

    &-subtitulo{
        padding-top: 10px;
    }

&-items {
    display: inline-block;
    margin: 5px;
    justify-content:space-around;
    overflow:hidden;

}
}
