@media (min-width:400px) {
    .grid-container{
        grid-template: 
        "header header" auto
         "main main" auto
           "footer footer" 100px 
            200px auto; 
    }
    img{
        width: 100%;
        padding: 5px;
    }
}

@media (min-width:900px) {
    .grid-container{
        grid-template: 
        "header header header" 120px
         "main main main "  auto
           "footer footer footer" 100px /
            200px auto 200px; }
        }