@import url('https://fonts.googleapis.com/css2?family=Capriola&display=swap');
$backgroundnav:linear-gradient(180deg, rgba(249,212,255,1) 0%, rgba(233,185,255,1) 100%);
$backgroundheader:linear-gradient(0deg, rgba(246,246,246,1) 0%, rgba(255,199,210,1) 100%); 
$backgroundsidebar:#ffecee;
$backgroundmain:#fdfbf9; 
$backgroundfooter:#f8f9fa;
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    height: 100%;
}

@import '_grid-container';

@import '_header';

@import 'body';

@import 'navbar';

@import '_sidebar';

@import '_main';

@import '_images';

@import '_ccomprar';

@import 'text';

@import '_form-contact';

@import '_footer';

@import '_mediaq';