@import url('https://fonts.googleapis.com/css2?family=Capriola&display=swap');
$backgroundnav:#EDDCD2;
$backgroundheader:#EDDCD2; 
$backgroundsidebar:#FFF1E6;
$backgroundmain:#FFF; 
$backgroundfooter:#d5d0cd;
/*MAP*/
$img-map: (
  mx-width:425px,
  mx-height:425px,
  br-radius:5%

);


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    height: 100%;
}

iframe{
  max-width: 100%;
}

@import '_grid-container';

@import '_header';

@import 'body';

@import 'navbar';

@import '_sidebar';

@import '_main';

@import '_images';

@import '_ccomprar';

@import 'text';

@import '_form-contact';

@import '_footer';

@import '_mediaq';

@import '_items'